.files .cell-3{
    margin-bottom: 25px;
}
.files .file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2px 0 0;
}

@media screen  and (max-width: 640px){
    .row.filter{
    	display: block;
        /*flex-direction: column;*/
    }

    .brands-page .row.filter{
         flex-direction: row;
     }

    .brands-page .cell,
    .brands-page .cell-25{
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
    }
    .brands-page .cell:first-child{
        padding-left: 10px;
    }

    .brands-page-flexible .row.filter{
        display: block;
    }

    .brands-page-flexible .cell{
        flex: 0 0 100%;
        min-width: 100%;
        margin-bottom: 10px;
    }

    .brands-page-flexible .filter .SumoSelect {
        max-width: 100%;
    }

    .brands-page-flexible .cell:first-child {
        padding-left: 0px;
    }


    .monthly-priorities-page .cell-3,
     .monthly-priorities-page .cell-25,
     .check-outs-planogram-page .cell-3{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;

    }

    .attention-block {
        font-size:14px;
    }

}
@media screen and (min-width: 640px)  and (max-width: 767px){
    .brands-page .cell,
    .brands-page .cell-25{
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
    }
    .brands-page .cell:first-child{
        padding-left: 10px;
    }

    .check-outs-planogram-page .cell-3{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
    }

    .monthly-priorities-page .cell-3, .monthly-priorities-page .cell-25{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
    }
    .tests-page .cell-3{
        flex: 0 0 50%;
        max-width: 50%;
    }

    main .row .full-width{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 15px;
    }
    .brands-page .row,
    .monthly-priorities-page .row,
    .check-outs-planogram-page .row{
        flex-wrap: wrap;
    }

    .brands-page .filter .cell:nth-child(2) .cell-1{
        justify-content: flex-end;
    }

    .content .content-container .left-container {
        flex-basis: 222px;
        min-width: 222px;
    }

}
@media screen  and (max-width: 767px){
    .navigation-in-program-page .navigation-row{
        flex-wrap: wrap;
        padding-bottom: 30px;
    }
    .navigation-in-program-page .cell-3,
    .navigation-in-program-page .cell-5,
    .navigation-in-program-page .cell-25{
        margin-bottom: 25px;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media screen  and (max-width: 991px){
    .button-container.h133 .button{
        font-size: 16px;
        line-height: 23px;
    }
}
