/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
body {
  font: 12px/18px 'Open Sans', sans-serif;
  background: #fafafa;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.wrapper.bg{
  background: #e9edef url("../images/bg.png") no-repeat 90% bottom;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
  background-image: linear-gradient(to top, #395162 0%, #415a6c 44%, #476073 100%);
  padding: 0 19px 0 34px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.35);
  position: relative;
  height: 61px;
  align-items: center;

  .right-menu{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
    padding: 0 0 0 5px;

    a{
      display: block;
      float: left;
      text-decoration: none;
      color: #fafafa;
      font-size: 15px;
      font-weight: 400;
    }
    .user-name{
      margin: 0 12px 0 0;
    }
    .settings{
      margin: 0 9px 0 0;
    }
  }
  .close{
    color: #fafafa;
    font-size: 15px;
    font-weight: 400;
    line-height: 7.14px;
    position: absolute;

    &:hover{
      text-decoration: none;
    }
  }
  h1{
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    flex: 1;
  }
}
.notification{
  width: 20px;
  height: 20px;
  background: url("../images/notification-icon.png") no-repeat;
  margin: 0 21px 0 0;
  position: relative;
}
.count-notifications{
  position: absolute;
  bottom: 9px;
  right: -4px;
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 7.14px;
  border-radius: 50%;
  background-color: #ea3592;
  background-image: linear-gradient(to top, #823996 0%, #ea3592 100%);
  text-align: center;
}
.logo{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 0;
  color: #fafafa;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  -webkit-align-items: center;

  span{
  }
  img{
    display: block;
  }
}
.main-forms{
  width: 418px;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.31);
  background-color: #ffffff;
  padding: 0 71px 38px 71px;
  box-sizing: border-box;

  h2{
    color: #415a6c;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin: 0 0 32px 0;
  }

  input[type="text"]{
    display: block;
    width: 100%;
    color: #a5a5a5;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 36px;
    border: none;
    border-bottom: solid 1px #898989;
    box-sizing: border-box;
    outline: none;
    margin: 0 0 18px 0;
    padding: 0;
    border-radius: 0;
  }
  input[type="text"]:last-of-type{
    margin: 0;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a5a5a5;
    font-size: 17px;
    font-weight: 400;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #a5a5a5;
    font-size: 17px;
    font-weight: 400;
    opacity: 1;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #a5a5a5;
    font-size: 17px;
    font-weight: 400;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #a5a5a5;
    font-size: 17px;
    font-weight: 400;
  }

}

.buttons{
  margin: 0 0 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;

}
.button-container{
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #385062;
  background-color: #898989;
  background-image: linear-gradient(to top, #395162 0%, #415a6c 53%, #415a6c 99%, #415a6c 100%);
  position: relative;
  text-decoration: none;

  &:before{
    content:'';
    width: 100%;
    height: 22px;
    border-radius: 10px 10px 27px 27px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 1%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 1%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.4) 1%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  .button{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: transparent;
    border: none;
    color: #ffffff;
    font-weight: 400;
    outline: none;
    position: relative;
    z-index: 3;
    cursor: pointer;
    white-space: normal;
  }
  .button-logo{
    width: 133px;
    height: 120px;
    position: absolute;
    right: 12px;
    top: 7px;
    background-image: url("../images/button-logo-dark.png");
    z-index: 1;
  }
}
.button-container.h32{
  height: 32px;
    &:before{
      height: 17px;
      border-radius: 10px 10px 27px 27px;
    }
    .button{
      height: 30px;
      font-size: 15px;
      padding: 0 19px;
    }
}
.button-container.h40{
  height: 40px;
    &:before{
      height: 22px;
      border-radius: 10px 10px 27px 27px;
    }
    .button{
      height: 38px;
      padding: 0 30px;
      font-size: 17px;
    }
}
.button-container.h88{
  height: 88px;
  border-width: 2px;

  border-color: #04aaec;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #0675ba 0%, #0eafe4 51%, #1ebded 100%);

  &:before{
    height: 48px;
    border-radius: 5px 5px 27px 27px;
  }
  .button{
    height: 84px;
    padding: 0 30px;
    font-size: 18px;
  }
}
.button-container.h88.active{
  border-color: #385062;
  background-color: #898989;
  background-image: linear-gradient(to top, #395162 0%, #415a6c 53%, #415a6c 99%, #415a6c 100%);
}
.button-container.h133{
  height: 136px;
  min-width: 200px;
  border-width: 3px;

  border-color: #04aaec;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #0675ba 0%, #0eafe4 51%, #1ebded 100%);

  .button-logo{
    background: url("../images/button-logo-blue.png");
  }

  &:before{
    height: 64px;
    border-radius: 5px 5px 23px 23px;
  }
  .button{
    height: 130px;
    padding: 0 30px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &:hover{
    border-color: #385062;
    background-color: #898989;
    background-image: linear-gradient(to top, #395162 0%, #415a6c 53%, #415a6c 99%, #415a6c 100%);

    .button-logo{
      background-image: url("../images/button-logo-dark.png");
    }
  }
}

.button-container.pink{
  border-color: #dd2984;
  background-color: #898989;
  background-image: linear-gradient(to top, #d01976 0%, #e93591 51%, #f94aa3 100%);
}
.button-container.blue{
  border-color: #04aaec;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #0675ba 0%, #0eafe4 51%, #1ebded 100%);

  .button-logo{
    background: url("../images/button-logo-blue.png");
  }
}
.button-container.light-gray{
  border-color: #d3d7dd;
  background-color: #d3dce0;
  background-image: linear-gradient(to top, #d5d8de 0%, #eaebee 100%);

  .button-logo{
    background-image: url("../images/button-logo-white.png");
  }

  .button{
    color: #415a6c;
  }

  &:before{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,0.7) 1%, rgba(255,255,255,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.7) 1%,rgba(255,255,255,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 1%,rgba(255,255,255,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  }

  &:hover{
    .button{
      color: #ffffff;
    }
  }
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column;

  .top-line{
    min-height: 58px;
    background-color: #ffffff;
    padding: 0 19px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
  }
  .top-line:after{
    content: '';
    clear: both;
    display: table;
  }
  h1{
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #444d58;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
  }
  .home-button{
    float: right;
  }
  .content-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-top: solid 1px #d5dcdf;

    .left-container{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      flex-basis: 252px;
      min-width: 252px;
      background-color: #f0f1f3;

      .button-container{
        margin: 0 0 22px 0;
        width: 100%;
      }
      .mCustomScrollbar{
        width: 100%;
        max-height: 100%;
        padding: 20px 20px 0 20px;
        box-sizing: border-box;
      }
    }
    .right-container{
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      padding: 17px 6px 0 19px;
      overflow: hidden;

      .filter{
        padding-right: 13px;
      }
    }
  }

  .filter{
    padding-bottom: 28px;

    .search{
      width: 100%;
      /*min-width: 230px;*/
      position: relative;

      input[type="text"]{
        display: block;
        width: 100%;
        padding: 0 34px 0 15px;
        font-family: 'Open Sans', sans-serif;
        box-sizing: border-box;
        outline: none;
        height: 38px;
        line-height: 38px;
        box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.09);
        border: 1px solid #d1d9db;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
        color: #878787;
        font-size: 15px;
        font-weight: 400;
      }
      .icon{
        position: absolute;
        right: 7px;
        top: 9px;
        width: 23px;
        height: 24px;
        background: #ffffff url("../images/search-icon.png") no-repeat;
      }
    }
  }
}
.content.login-page{
  padding: 5px 85px 5px 85px;
  justify-content: center;
  -webkit-justify-content: center;
}
.content.navigation-in-program-page{
  padding: 51px 0 0 0;
}
.files{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;

  .file{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    align-items: center;
    -webkit-align-items: center;
    text-decoration: none;
    height: 52px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05), inset -2px -2px 0 #ffffff;
    border: 1px solid #d5dcdf;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #fafafa 0%, #ffffff 52%, #ffffff 100%);
    margin: 0 10px;
    overflow: hidden;
  }
  .file-image{
    max-height: 52px;
    min-height: 52px;
    margin: 0 9px 0 0;
    position: relative;
    left: -1px;
  }
  .file-name{
    color: #878787;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
  }
  .cell-3{
    padding: 0;
    margin-bottom: 25px;
  }
  .cell-25{
    padding: 0;
    margin-bottom: 25px;
  }
}
.assortment-photo{
  border: 1px solid #c3cdd1;
  margin: 0 13px 0 0;

  img{
    width: 100%;
    display: block;
  }
}
.divider{
  height: 1px;
  background-color: #ebebeb;
  margin: 15px 13px 15px 0;
}
.navigation-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 51px 10px;
  margin: 0 0 51px 0;
  border-bottom: solid 1px #d5dcdf;

  &:last-child {
    border-bottom: none;
    padding: 0 10px;
    margin: 0;
  }
  .button-container {
    width: 100%;

    .button-container {
      margin: 0 10px;
      display: block;
      width: 100%;
    }
    .notification {
      z-index: 2;
      width: 37px;
      height: 37px;
      background: none;
      position: absolute;
      right: -9px;
      top: -12px;
      margin: 0;

      .count-notifications {
        width: 37px;
        height: 37px;
        color: #fafafa;
        font-size: 20px;
        font-weight: 400;
        right: 0;
      }
    }
  }
}

.mCSB_outside+.mCS-minimal.mCSB_scrollTools_vertical{
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #d5dcdf;
}
.mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools{
  margin: 0;
}
.mCSB_scrollTools{
  width: 5px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  width: 5px;
  border: 1px solid #385062;
  background-color: #ffffff;
  background: linear-gradient(to top, #31495a 0%, #415a6c 45%, #627685 100%);
  border-radius: 0;
  box-sizing: border-box;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar:before{
  content: '';
  width: 3px;
  height:9px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
  background: url("../images/scroll-icon.png") no-repeat;
}

.SumoSelect{
  max-width: 100%;
  width: 100%;
}
.SumoSelect > .CaptionCont{
  height: 38px;
  min-height: 38px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.09);
  border: 1px solid #d1d9db;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 0;
}
.SumoSelect > .optWrapper{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border: 1px solid #d1d9db;
  background-color: #ffffff;
  width: auto;
  min-width: 100%;
}
.SumoSelect.open > .optWrapper{
  top: 38px;
}
.SumoSelect > .CaptionCont > span{
  padding-left: 9px;
}
.SumoSelect > .CaptionCont > span.placeholder{
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  color: #444d58;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}
.SumoSelect > .CaptionCont > span{
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  color: #444d58;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  height: 38px;
  line-height: 38px;
}
.SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont, .SumoSelect.open > .CaptionCont{
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.09);
  border: 1px solid #d1d9db;
}
.SumoSelect > .CaptionCont > label > i{
  background-image: url("../images/select-arrow.png");
  background-position: center center;
  opacity: 1;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span i{
  border: none;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;

}
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span i{
  background-color: transparent;
  background-image: url("../images/check.png");
  right: 3px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt span{
  width: 19px;
  height: 19px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.09);
  border: 1px solid #d1d9db;
  background-color: #ffffff;
  box-sizing: border-box;
  margin-left: -27px;
  top: 13px;
}
.SumoSelect > .optWrapper.multiple > .options li.opt.selected span{
  border-color: #385062;
  background-color: #7494c8;
  background-image: linear-gradient(to top, #31495a 0%, #415a6c 45%, #8da5b7 100%);
}
.SumoSelect > .optWrapper > .options  li.opt{
  border-bottom: solid 1px #d1d9db;
  padding: 13px 10px 13px 6px;
}
.SumoSelect > .optWrapper > .options li.opt.selected{
  background-color: #ffffff;
  background-image: linear-gradient(to top, #e2e5e9 0%, #f0f1f3 100%);
}
.SumoSelect > .optWrapper > .options li label{
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
  color: #444d58;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.select-pink .SumoSelect > .CaptionCont > span{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 36px;
  color: #a5a5a5;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  padding: 0 18px 0 0;
}
.select-pink{
  margin: 0 0 18px 0;
}
.select-pink .SumoSelect:focus > .CaptionCont, .select-pink .SumoSelect:hover > .CaptionCont, .select-pink .SumoSelect.open > .CaptionCont, .select-pink .SumoSelect > .CaptionCont{
  box-shadow: none;
  border: none;
  border-bottom: solid 1px #898989;
  border-radius: 0;
}
.select-pink .SumoSelect > .CaptionCont > label > i{
  background: url("../images/styled-select-right-arrow.png");
  width: 17px;
  height: 9px;
}

.brands-page{
  overflow: hidden;
  .content-container{
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 0 6px 0 22px;
  }
  .mCustomScrollbar{
    padding: 25px 13px 0 0;
    max-height:100%;
  }
  .filter{
    border: 1px solid #d5dcdf;
    background-color: #f0f1f3;
    margin: 0 0 -1px 0;
    padding: 18px;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    margin: 0 -10px;

    .SumoSelect{
      max-width: 230px;
    }
    @media screen and (max-width: 1000px) {
      .SumoSelect {max-width: 200px;}
    }
    .cell-1{
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
    .cell{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      -webkit-align-items: center;
    }
    .label{
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.4);
      color: #425b6d;
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
.content-scroll{
  padding: 0 13px 0 0;
}

.login-form{
  padding: 67px 0 0 0;

  input.login{
    background: url("../images/login-icon.png") no-repeat right;
    padding: 0 19px 0 0;
  }
  input.password{
    background: url("../images/pass-icon.png") no-repeat right;
    padding: 0 19px 0 0;
  }
  .password-reminder{
    text-align: right;
    margin: 0 0 23px 0;

    a{
      color: #444d58;
      font-size: 12px;
      font-weight: 400;
      line-height: 36px;
      text-decoration: underline;
      outline: none;

      &:hover{
        text-decoration: none;
      }
    }
  }
  .info{
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;

    a{
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: #ea3592;
      text-decoration: none;
      outline: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.register-form{
  padding: 52px 0 0 0;
  display: none;

  h2{
    margin: 0 0 20px 0;
  }

  .back-link{
    text-align: center;
    padding: 16px 0 0 0;

    span{
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: #ea3592;
      cursor: pointer;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .register-button{
    text-align: center;
    padding: 34px 0 0 0;

    .button-container{
      min-width: 200px;

      .button{
        min-width: 200px;
      }
    }
  }
}
.fancybox-slide>div.light-box{
  text-align: center;
  padding: 33px 36px 25px 36px;
  width: 330px;

  h2{
    color: #415a6c;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 19px 0;
  }
  p{
    color: #878787;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 22px 0;
  }
}
.fancybox-bg{
  background: #000000;
}
.fancybox-is-open .fancybox-bg{
  opacity: .3;
}
.fancybox-close-small{
  display: none;
}
.messages-page{
  .content-container{
    padding: 25px 19px 0 19px;
    box-sizing: border-box;
  }
  .messages-scroll{
    width: 100%;
  }
}
.messages{
  padding: 0 21px 0 0;
  .message{
    display: block;
    text-decoration: none;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05), inset -2px -2px 0 #ffffff;
    border: 1px solid #d5dcdf;
    background-color: #f0f1f3;
    background-image: linear-gradient(to top, #fafafa 0%, #ffffff 50%, #ffffff 100%);
    margin: 0 0 12px 0;
    padding: 25px 22px;

    p{
      color: #878787;
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .message.blue{
    border: 1px solid #04aaec;
    background-color: #f0f1f3;
    background-image: linear-gradient(to top, #0675ba 0%, #0eafe4 51%, #1ebded 100%);
    box-shadow: none;

    p{
      color: #ffffff;
    }
  }
}
.instruction-page{
  .instruction-container{
    padding: 20px;
  }
  .instruction-scroll{
    width: 100%;
    margin: 25px 19px 0 19px;
    box-sizing: border-box;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.15);
    border: 1px solid #d5dcdf;
    background-color: #f0f1f3;
  }
  .content-container{
    box-sizing: border-box;
  }
  .instruction-page{
    padding: 20px 20px 0 20px;
  }
}
.mCS-autoHide>.mCustomScrollBox~.mCSB_scrollTools{
  opacity: 1;
}
.tests-page .cell-3{
  margin-bottom: 0;
}
.row{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  box-sizing: border-box;
}
.cell-1{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.cell-3{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}
.cell-5{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}
.cell-25{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
}